<html xmlns="http://www.thymeleaf.org">

<head>
    <title>Add task</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2>New Task</h2>
        <form th:action="@{/task/add}" th:object="${newTask}" method="POST">
            <div class="form-group">
                <label for="name" class="control-label">Task name</label>
                <br>
                <input id="name" type="text" th:field="*{name}" required />
            </div>
            <div class="form-group">
                <label for="description" class="control-label">Description</label>
                <br>
                <input id="description" type="text" th:field="*{description}" />
            </div>
            <div class="form-group">
                <label for="dueDate">Due Date</label>
                <br>
                <input type="date" id="dueDate" th:field="*{dueDate}" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <br>
                <select th:field="*{categoryId}" id="category" class="form-control">
                    <option th:each="taskCategory : ${taskCategories}"
                            th:value="${taskCategory.id}" th:text="${taskCategory.name}">
                    </option>
                </select> 
            </div>
            <button type="submit" class="btn btn-primary">Save Task</button>
        </form>
        <div>
            <a href="/" th:href="@{/home}">Home</a>
        </div>
    </div>
</body>

</html>