<html xmlns="http://www.thymeleaf.org">

<head>
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-3">
        <h2 th:text="#{profile.headline}">Your profile</h2>
        <h5 th:text="${user.firstName + ' ' + user.lastName}">Name Surname</h5>
        <p><strong th:text="#{user.username}">Username:</strong> <span th:text="${user.username}">N/A</span></p>
        <p><strong th:text="#{user.email}">Email:</strong> <span th:text="${user.email}">N/A</span></p>
        <a th:href="@{/user/edit}" th:text="#{edit.action}" class="btn btn-success">Edit</a>
        <a th:href="@{/user/changePassword/verifyCurrent}" th:text="#{change.password.action}" class="btn btn-primary">Change password</a>
        <a th:href="@{/user/logout}" th:text="#{logout.action}" class="btn btn-danger">Log Out</a>
        <a th:href="@{/user/delete}" th:text="#{delete.account.action}" class="btn btn-danger">Detele account</a>
        <div>
            <a href="/" th:href="@{/home}" th:text="#{go.home.action}">Home</a>
        </div>
    </div>
</body>

</html>