<html xmlns="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">       
        <h2>Change password</h2>
        <hr />
        <div th:if="${doNotMatchMessage}" class="alert alert-danger">
            <p th:text="${doNotMatchMessage}"></p>
        </div> 
        <form th:action="@{/user/changePassword}" method="POST">
            <div class="form-group">
                <label for="password" class="control-label">New password</label>
                <input id="password" type="password" th:name="password" required />
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="control-label">Confirm new password</label>
                <input id="confirmPassword" type="password" th:name="confirmPassword" required />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
        <div>
            <a href="/" th:href="@{/home}">Home</a>
        </div>
    </div>
</body>

</html>