<html xmlns="http://www.thymeleaf.org">
    <head>
    
        <title>Home</title>
        <link href="https://cdn.datatables.net/v/bs4/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        
        <div class="container">
            <div class="row m-3">
                <div class="col-md-6 d-flex justify-content-start">
                    <h2 class="mr-3">Tasks</h2>
                    <a th:href="@{/task/new}" class="btn btn-primary">Add Task</a>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <h5 class="mr-3 align-self-center" th:text="${firstName + ' ' + lastName}">Name Surname</h5>
                    <a th:href="@{/user}" class="btn btn-success mr-3">Show profile</a>
                    <a th:href="@{/user/logout}" class="btn btn-danger">Log out</a>
                </div>
            </div>
            <table class="table talbe-bordered table-striped" id="tasks-table">

                <thead>

                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Due date</th>
                        <th>State</th>
                    </tr>

                </thead>
                <tbody>
                    <tr th:each="task: ${tasks}">
                        <td th:text="${task.name}"></td>
                        <td th:text="${task.category}"></td>
                        <td th:text="${#dates.format(task.dueDate, 'yyyy-MM-dd')}"></td>
                        <td th:text="${task.state}"></td>                                                                   
                        <td>
                            <a th:href="@{/task/details(taskId=${task.id})}" class="btn btn-info">Details</a>
                            <a th:href="@{/task/edit(taskId=${task.id})}" class="btn btn-success">Edit</a>
                            <a th:href="@{/task/delete(taskId=${task.id})}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>
    </body>

</html>