<html xmlns="http://www.thymeleaf.org">

<head>
    <title>Add task category</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2>New task category</h2>
        <form th:action="@{/task-category/add}" th:object="${newTaskCategory}" method="POST">
            <div class="form-group">
                <label for="name" class="control-label">Category name</label>
                <br>
                <input id="name" type="text" th:field="*{name}" required />
            </div>
            <div class="form-group">
                <label for="description" class="control-label">Description</label>
                <br>
                <input id="description" type="text" th:field="*{description}" />
            </div>
            <button type="submit" class="btn btn-primary">Save Category</button>
        </form>
        <div>
            <a href="/" th:href="@{/home}">Home</a>
        </div>
    </div>
</body>

</html>