<html xmlns="http://www.thymeleaf.org">

<head>
    <title>Task category details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-3">
        <h2>Task details</h2>
        <h5><strong th:text="${taskCategory.name}">Task category name</strong></h5>
        <p><span th:text="${taskCategory.description}">N/A</span></p>
        <a th:href="@{/task-category/edit(taskCategoryId=${taskCategory.id})}" class="btn btn-success">Edit</a>
        <a th:href="@{/task-category/delete(taskCategoryId=${taskCategory.id})}" class="btn btn-danger">Delete</a>
        <div>
            <a href="/" th:href="@{/home}">Home</a>
        </div>
    </div>
</body>

</html>